#main_container {
    margin: 0 100px;
    padding-top: 150px;
    padding-bottom: 125px;
}

#main_container > #filter_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

#main_container > #filter_bar > .choices {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#main_container > #filter_bar > .choices > a > button {
    background: transparent;
    padding: 15px 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#main_container > #filter_bar > .choices > a > .chosen {
    background: black;
    color: white;
}

#main_container > .users_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    height: auto;
    margin-top: 50px;
}

#main_container > .users_grid > a {
    text-decoration: none;
    color: black;
}

#main_container > .users_grid > a > .indiv_user {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

#main_container > .users_grid > a > .indiv_user:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#main_container > .users_grid > a > .indiv_user > .user_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#main_container > .users_grid > a > .indiv_user > .user_info {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#main_container > .users_grid > a > .indiv_user > .user_info > h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;

    font-size: 15px;
}