<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <title>Main Page</title>
</head>
<body>

  {% extends "layout.html" %}

  {% block content %}
  <div id="main_container">
    <div class="users">
      <div class="basic_nav">
        <h1>Featured Rentals</h1>
        <a href="rentals?from={{min_start}}&to={{max_to}}&order_by=pid&sort_by=ASC">See all rentals</a>
      </div>
      <div class="users_grid">
        {% for rental in rentals %}
        <a href="">
          <div class="indiv_user">
            <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?cs=srgb&dl=pexels-justin-shaifer-1222271.jpg&fm=jpg&w=640&h=427"
            class="user_image"/>
            <div class="user_info">
              <h6>
                <span>Property ID:</span>
                <span>{{rental[0]}}</span>
              </h6>
              <h6>
                <span>Size:</span>
                <span>{{rental[1]}}</span>
              </h6>
              <h6>
                <span>Owned By (User ID):</span>
                <span>{{rental[2]}}</span>
              </h6>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
  
</body>
</html>