<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <title>Main Page</title>
</head>
<body>

  {% extends "layout.html" %}

  {% block content %}
  <div id="main_container">
    <div class="users">
      <div class="basic_nav">
        <h1>Featured Rentals</h1>
        <a href="rentals?from={{min_start}}&to={{max_to}}&order_by=pid&sort_by=ASC">See all rentals</a>
      </div>
      <div class="users_grid">
        {% for rental in rentals %}
          <div class="indiv_user">
            <img onclick="openModal('{{rental[0]}}', '{{rental[2]}}')"  src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?cs=srgb&dl=pexels-binyamin-mellish-1396122.jpg&fm=jpg&w=640&h=427"
            class="user_image"/>
            <div class="user_info">
              <h6>
                <span>Property ID:</span>
                <span>{{rental[0]}}</span>
              </h6>
              <h6>
                <span>Size:</span>
                <span>{{rental[1]}}</span>
              </h6>
              <a class="owned_link" href="/user?uid={{rental[2]}}">
                <h6 class="owned">
                  <span>Owned By (User ID):</span>
                  <span>{{rental[2]}}</span>
                </h6>
              </a>
            </div>
          </div>

          <div id="{{rental[0]}}_2" class="modal">                    

            <!-- Modal content -->
            <div class="modal-content">
              <span onclick="closeModal('{{rental[0]}}', '{{rental[2]}}')" class="close2">&times;</span>
              <h3>Property Information: </h3>
                <div class="prop_info">
                    <input type="text" name="pid" value="{{rental[0]}}" hidden/>
                    <input type="text" name="uid" value="{{rental[2]}}" hidden/>
                    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?cs=srgb&dl=pexels-binyamin-mellish-1396122.jpg&fm=jpg&w=640&h=427"/>
                    <div class="available">
                        <div>
                            <h4>Availability: </h4>
                            <div id="avail_rows_{{rental[0]}}_2" class="avail_rows">
                            </div>
                        </div>
                        <div>
                            <h4>Rent From - To: </h4>
                            <h5>
                                <span>Start: </span>
                                <input id="start_from_{{rental[0]}}" name="start_from" type="date"/>
                            </h5>
                            <h5>
                                <span>End: </span>
                                <input id="end_at_{{rental[0]}}" name="end_at" type="date"/>
                            </h5>
                        </div>
                    </div>
                    <button onclick="book('{{rental[0]}}', '{{rental[2]}}')" class="update_avail">Book</button>
                </div>
            </div>
        
        </div>

        <div id="{{rental[0]}}" class="modal">                    
          <!-- Modal content -->
          <div class="modal-content">
            <span onclick="closeModal('{{rental[0]}}', '{{rental[2]}}')" class="close">&times;</span>
            <h3>Property Information: </h3>
              <div class="prop_info">
                  <input type="text" name="pid" value="{{rental[0]}}" hidden/>
                  <input type="text" name="uid" value="{{rental[2]}}" hidden/>
                  <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?cs=srgb&dl=pexels-binyamin-mellish-1396122.jpg&fm=jpg&w=640&h=427"/>
                  <div class="available">
                      <div>
                          <h4>Availability: </h4>
                          <div id="avail_rows_{{rental[0]}}" class="avail_rows">
                          </div>
                      </div>
                      <div>
                          <h4>Rent From - To: </h4>
                          <h5>
                              <span>Start: </span>
                              <input id="start_from_{{rental[0]}}" name="start_from" type="date"/>
                          </h5>
                          <h5>
                              <span>End: </span>
                              <input id="end_at_{{rental[0]}}" name="end_at" type="date"/>
                          </h5>
                      </div>
                  </div>
                  <button onclick="book('{{rental[0]}}', '{{rental[2]}}')" class="update_avail">Book</button>
              </div>
          </div>
      
      </div>
        {% endfor %}
      </div>
      <h5 class="some_info">You can click on Owned By!</h5>
    </div>
  </div>

  <script>
    function refactor (time) {
          const arr = time.split(" ").slice(0, 4);
          return arr.join(" ");
      }

      async function get(url) {
          return await fetch(url).then(res => res.json());
      }

      async function openModal (pid, uid) {
            pid = uid === localStorage.getItem('uid') ? pid : `${pid}_2`;
            var modal = document.getElementById(pid);
            modal.style.display = "block";

            const {times} = await get(`/available_times?pid=${pid.replace("_2", "")}`);

            const rows = document.getElementById("avail_rows_" + pid);
            
            for (let i = 0; i < times.length; i++) {
                rows.innerHTML += `
                    <div class="inner" id="${pid}_times_${i}">
                        <div class="time">
                            <h5>
                                <span>Start: </span>
                                <span>${refactor(times[i][0])}</span>
                            </h5>
                            <h5>
                                <span>End: </span>
                                <span>${refactor(times[i][1])}</span>
                            </h5>
                        </div>
                        ${pid.includes("_2") ? "" : `<button onclick="removeAvail('${pid}','${pid}_times_${i}', '${times[i][0]}', '${times[i][1]}')">X</button>`}
                    </div>
                `
            }
        }   

        function closeModal (pid, uid)  {
            pid = uid === localStorage.getItem('uid') ? pid : `${pid}_2`;
            var modal = document.getElementById(pid);
            modal.style.display = "none";

            const rows = document.getElementById("avail_rows_" + pid);
            rows.innerHTML = "";
        }       

        function refresh () {
            const start_from = document.getElementById("start_from").value;
            const end_at = document.getElementById("end_at").value;
            const order_by = document.getElementById("order_by").value;
            const sort_by = document.getElementById("sort_by").value;

            const url = `/rentals?from=${start_from}&to=${end_at}&order_by=${order_by}&sort_by=${sort_by}`;
            window.location = url;
        }

        function book (pid, uid) {
            const uid_renter = localStorage.getItem("uid");
            if (!uid_renter) {
                alert("Please log in first");
                return;
            }

            const start_from = document.getElementById("start_from_" + pid).value;
            const end_at = document.getElementById("end_at_" + pid).value;

            if (!start_from || !end_at) {
                alert("Please input a start-end time");
                return;
            }

            var req = new XMLHttpRequest();
            req.onreadystatechange = function () {
                if(this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                    window.location.reload();
                }
            }

            req.open('POST', '/book', true);
            req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            req.send(`pid=${pid}&uid_host=${uid}&uid_renter=${uid_renter}&start_from=${start_from}&end_at=${end_at}`);
        }
  </script>
  {% endblock %}
  
</body>
</html>