{% if request.endpoint == 'create' or request.endpoint == 'login' %}
<!-- minor extra styling for nav -->
<style>
  nav > .inner_container > .login_link > .login_button {
    color: white;
    background-color: black;
  }
</style>
{% endif %}

<nav>
  <div id="nav_container" class="inner_container">
    <h3><button onclick="routeToMain()">Easy Rental</button></h3>
  </div>

  <script>
    //on load, append the right buttons to the right side of nav depending on login status
    window.addEventListener("load", () => {
      const loggedIn = localStorage.getItem("loggedIn");
      const uid = localStorage.getItem("uid");
      let html;

      if (loggedIn) {
        html = `
                    <div class="loggedin_buttons">
                        <a href="/user?uid=${uid}" class="login_link"><button class="my_profile">My Profile</button></a>
                        <a onclick="logout()" class="login_link"><button class="logout">Log Out</button></a>
                    </div>
                `;
      } else {
        html = `<a href="/login" class="login_link"><button class="login_button">Login / Create Account</button></a>`;
      }

      document.getElementById("nav_container").innerHTML += html;
    });

    //when user presses logout, clear cache and refresh to main page
    function logout() {
      localStorage.clear();
      window.location = "/";
    }

    function routeToMain() {
      const url = `/?uid=${localStorage.getItem("uid") || ""}`;
      window.location = url;
    }
  </script>
</nav>
