<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='rentals.css') }}"
    />
    <title>All Users</title>
  </head>
  <body>
    {% extends "layout.html" %} {% block content %}
    <div id="main_container">
      <div id="filter_bar">
        <h2>Show Me:</h2>
        <div class="filters">
          <label for="start_from">
            Start From:
            <input
              type="date"
              id="start_from"
              name="start_from"
              value="{{curr_start}}"
              min="{{min_start}}"
              max="{{max_to}}"
            />
          </label>
          <label for="end_at">
            End At:
            <input
              type="date"
              id="end_at"
              name="end_at"
              value="{{curr_end}}"
              min="{{min_start}}"
              max="{{max_to}}"
            />
          </label>
          <label for="order_by">
            Order By:
            <select name="order_by" id="order_by">
                {% for order in order_html %}
                <option {{ "selected='selected'" if order[0] == True else "" }} value="{{order[1]}}">{{order[2]}}</option>
                {% endfor %}
            </select>
          </label>
          <label for="order_by">
            Sort By:
            <select name="sort_by" id="sort_by">
                {% for sort in sort_html %}
                <option {{ "selected='selected'" if sort[0] == True else "" }} value="{{sort[1]}}">{{sort[2]}}</option>
                {% endfor %}
            </select>
          </label>
          <div class="form_row">
            <input type="checkbox" id="amenity1" name="amenity1" value="1" />
            <label for="amenity1"> Swimming Pool</label>
            <input type="checkbox" id="amenity2" name="amenity2" value="1" />
            <label for="amenity2"> Gym</label>
          </div>
        </div>
        <button onclick="refresh()">Submit</button>
      </div>

      <div class="rentals_grid">
        {% for rental in rentals %}
        <div class="indiv_rental">
          <img
            onclick="openModal('{{rental[0]}}', '{{rental[2]}}')"
            src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?cs=srgb&dl=pexels-binyamin-mellish-1396122.jpg&fm=jpg&w=640&h=427"
            class="rental_image"
          />
          <div class="rental_info">
            <h6>
              <span>Property ID:</span>
              <span>{{rental[0]}}</span>
            </h6>
            <h6>
              <span>Address:</span>
              <span>{{rental[7]}}, {{rental[8]}}, {{rental[9]}}</span>
            </h6>
            <h6>
              <span>Property Size:</span>
              <span>{{rental[1]}}</span>
            </h6>
            <a class="owned_link" href="/user?uid={{rental[2]}}">
              <h6 class="owned">
                <span>Owned By:</span>
                <span
                  >{{rental[5]}} {{rental[6]}} (User ID: {{rental[2]}})</span
                >
              </h6>
            </a>
          </div>
        </div>

        <!-- Someone else's property Modal -->
        <div id="{{rental[0]}}_2" class="modal">
            <div class="modal-content">
              <span
                onclick="closeModal('{{rental[0]}}', '{{rental[2]}}')"
                class="close2"
                >&times;</span
              >
              <h3>Property Information:</h3>
              <div class="prop_info">
                <input type="text" name="pid" value="{{rental[0]}}" hidden />
                <input type="text" name="uid" value="{{rental[2]}}" hidden />
                <img
                  src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?cs=srgb&dl=pexels-binyamin-mellish-1396122.jpg&fm=jpg&w=640&h=427"
                />
                <div class="available">
                  <div>
                    <h4>Availability:</h4>
                    <div id="avail_rows_{{rental[0]}}_2" class="avail_rows"></div>
                  </div>
                  <div>
                    <h4>Rent From - To:</h4>
                    <h5>
                      <span>Start: </span>
                      <input
                        id="start_from_{{rental[0]}}_2"
                        name="start_from"
                        type="date"
                      />
                    </h5>
                    <h5>
                      <span>End: </span>
                      <input
                        id="end_at_{{rental[0]}}_2"
                        name="end_at"
                        type="date"
                      />
                    </h5>
                  </div>
                </div>
                <button
                  onclick="book('{{rental[0]}}', '{{rental[2]}}')"
                  class="update_avail"
                >
                  Book
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript">
      /* Open Modal function */
      async function openModal(pid, uid) {
        //pid is changed to pid_2 if user is not on their own page or not seeing their own property.
        //this is done to create dynamic modal opens, based on whether user is seeing their own property or someone elses,
        //the modal buttons and functionalities are different
        pid = uid === localStorage.getItem("uid") ? pid : `${pid}_2`;

        const modal = document.getElementById(pid);
        modal.style.display = "block";

        //get's all available times for this particular property
        const { times } = await $.get(`/available_times`, {
          pid: pid.replace("_2", ""),
        });

        // uses the pid to generate id to get the div parent for available rows
        const rows = document.getElementById("avail_rows_" + pid);

        //for each time returned, append a bubble to the modal ui
        //(in react, this would be the same as data.map())
        for (let i = 0; i < times.length; i++) {
          rows.innerHTML += `
                <div class="inner" id="${pid}_times_${i}">
                        <div class="time">
                            <h5>
                                <span>Start: </span>
                                <span>${getYMD(times[i][0])}</span>
                            </h5>
                            <h5>
                                <span>End: </span>
                                <span>${getYMD(times[i][1])}</span>
                            </h5>
                        </div>
                        ${
                          pid.includes("_2")
                            ? ""
                            : `<button onclick="removeAvail('${pid}','${pid}_times_${i}', '${times[i][0]}', '${times[i][1]}')">X</button>`
                        }
                    </div>
                `;
        }
      }

      /* Close modal function */
      function closeModal(pid, uid) {
        //pid is altered to choose which modal to close
        pid = uid === localStorage.getItem("uid") ? pid : `${pid}_2`;

        // resets modal
        const modal = document.getElementById(pid);
        modal.style.display = "none";

        // resets available rows to none
        const rows = document.getElementById("avail_rows_" + pid);
        rows.innerHTML = "";
      }

      /* booking function, contains AJAX call */
      function book(pid, uid) {
        //gets uid of the logged in user
        const uid_renter = localStorage.getItem("uid");
        pid = uid === localStorage.getItem("uid") ? pid : `${pid}_2`;

        // get form's start_from / end_at value
        const start_from = $("#start_from_" + pid).val();
        const end_at = $("#end_at_" + pid).val();

        // needs to be logged in to proceed
        if (!uid_renter) {
          alert("Please log in first");
          return;
        }

        // if user didn't choose dates, then stop
        if (!start_from || !end_at) {
          alert("Please input a start-end time");
          return;
        }

        // POSTs booking request with specified params
        $.post(
          {
            url: `/book`,
          },
          { pid: pid.replace("_2", ""), uid_host: uid, uid_renter, start_from, end_at }
        )
          .done((data) => {
            alert(JSON.stringify(data));
            window.location.reload();
          })
          .fail((data) => console.log(data));
      }

      // helper function to extract YY-MM-DD
      function getYMD(time) {
        const arr = time.split(" ").slice(0, 4);
        return arr.join(" ");
      }

      // refreshes page to the exact rental filter option we initially had
      function refresh() {
        const start_from = document.getElementById("start_from").value;
        const end_at = document.getElementById("end_at").value;
        const order_by = document.getElementById("order_by").value;
        const sort_by = document.getElementById("sort_by").value;
        var amenity1 = document.getElementById("amenity1").checked;
        var amenity2 = document.getElementById("amenity2").checked;
        const uid = localStorage.getItem("uid") || "";

        const url = `/rentals?from=${start_from}&to=${end_at}&order_by=${order_by}&sort_by=${sort_by}&amenity1=${amenity1}&amenity2=${amenity2}&uid=${uid}`;
        window.location = url;
      }
    </script>
    {% endblock %}
  </body>
</html>
