<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='users.css') }}">
    <title>All Users</title>
</head>
<body>

    {% extends "layout.html" %}

    {% block content %}
    <div id="main_container">
        <div id="filter_bar">
            <h1>Show Me: </h1>
            <div class="choices">
                <a href="users?category=all">
                    {% if category == "all" %}
                    <button class="chosen">All</button>
                    {% else %}
                    <button>All</button>
                    {% endif %}
                </a>

                <a href="users?category=hosts">
                    {% if category == "hosts" %}
                    <button class="chosen">Hosts</button>
                    {% else %}
                    <button>Hosts</button>
                    {% endif %}
                </a>
                <a href="users?category=renters">
                    {% if category == "renters" %}
                    <button class="chosen">Renters</button>
                    {% else %}
                    <button>Renters</button>
                    {% endif %}
                </a>
            </div>
        </div>
    
            <div class="users_grid">
                {% for user in users %}
                    <a href="users/user?uid={{user[0]}}">
                        <div class="indiv_user">
                          <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?cs=srgb&dl=pexels-justin-shaifer-1222271.jpg&fm=jpg&w=640&h=427"
                          class="user_image"/>
                          <div class="user_info">
                            <h6>
                              <span>UID:</span>
                              <span>{{user[0]}}</span>
                            </h6>
                            <h6>
                              <span>Name:</span>
                              <span>{{user[1]}} {{user[2]}}</span>
                            </h6>
                            <h6>
                              <span>Phone Number:</span>
                              <span>{{user[3]}}</span>
                            </h6>
                          </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
    </div>
    {% endblock %}
    
</body>
</html>