<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user.css') }}">
    <title>User Page</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <div id="main_container">
        <div id="inner_grid">
            <div id="left_user_info">
                <div class="user_info">
                    <div>
                        <img class="user_image" 
                        src="https://images.pexels.com/photos/1182825/pexels-photo-1182825.jpeg?cs=srgb&dl=pexels-omar-l%C3%B3pez-1182825.jpg&fm=jpg&w=640&h=427&_gl=1*17slk5g*_ga*MTA4MTIyODk5MC4xNjY4NDAzOTEz*_ga_8JE65Q40S6*MTY2ODQwMzkxNC4xLjEuMTY2ODQwMzk3Mi4wLjAuMA.."/>
                    </div>
                    <div class="info">
                        <h4 class="bubble">
                            <span>User ID:</span>
                            <span>{{user[0]}}</span>
                        </h4>
                        <h4 class="bubble">
                            <span>Name:</span>
                            <span>{{user[1]}} {{user[2]}}</span>
                        </h4>
                        <h4 class="bubble">
                            <span>Phone #:</span>
                            <span>{{user[3]}}</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="right_rentals">
                <table>
                    <thead>
                        <th>Address</th>
                    </thead>
                    {% for p in user_props %}
                    <tr>
                        <!-- Need to solve the table syntax here -->
                        <!-- <TD><a href="/calendar?pid=<%= p[4] %>> ">{{p[0] p[1] p[2] p[3]}}</TD> -->
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
            </div>
        </div>
    </div>

    <script>
        const uid = '{{user[0]}}';
        
        window.addEventListener('load', () => {
            const user_info = document.getElementById("left_user_info");

            if (uid === localStorage.getItem('uid')) {
                user_info.innerHTML += `
                    <div class="create_prop">
                        <h2>Create Rental</h2>
                        <form id="cr_form" method="POST" action="create_prop">
                            <input name="uid" type="text" value="{{user[0]}}" hidden/>

                            <label for="addr">Address:</label><br>
                            <input type="text" id="addr" name="addr"><br>
                            <label for="city">City:</label><br>
                            <input type="text" id="city" name="city"><br>
                            <label for="state">State:</label><br>
                            <input type="text" id="state" name="state"><br>
                            <label for="postal_code">Postal Code:</label><br>
                            <input type="text" id="postal_code" name="postal_code"><br>
                            <label for="size">Size:</label><br>
                            <input type="text" id="size" name="size"><br>
                            
                            <br>
                            <input type="checkbox" id="amenity1" name="amenity1" value="Swimming Pool">
                            <label for="amenity1"> Swimming Pool</label><br>
                            <input type="checkbox" id="amenity2" name="amenity2" value="Gym">
                            <label for="amenity2"> Gym</label><br>

                            <br>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                `
            }
        })
    </script>
    {% endblock %}
    
</body>
</html>